@import './assets/font/iconfont.css';

@import '~taro-ui/dist/style/components/search-bar.scss';
@import '~taro-ui/dist/style/components/button.scss';
@import '~taro-ui/dist/style/components/icon.scss';

@import '~taro-ui/dist/style/components/flex.scss';

$green: #07b260 !default;
$red: #f3413b !default;
$border: #f5f5f5 !default;
$code: #999 !default;
$label: #333 !default;

.down-green {
  color: $green;
}
.up-red {
  color: $red;
}

.icon-jiazixuan0,
.icon-jiazixuan1,
.icon-jiazixuan2 {
  color: #ff5a54;
  font-size: 50px;
}
.icon-jiazixuan1 {
  color: $code;
}

@import './pages/optional/index.scss';
